.messages {
	display: flex;
	flex-direction: column;
 	width: 70%;
 	height: 100%;
 	border-left: 1px solid #d7d8db;
 	overflow: auto;

 	padding-bottom: 80px;
 	box-sizing: border-box;
}


.sms {
	display: inline-block;
	background: #d7d8db;
	border-radius: 10px;
	float: right;

	margin: 10px;
	height: auto;
	width: auto;
	max-width: 250px;
	padding: 5px 10px;

	word-wrap: break-word;
}



.input_block {
	position: absolute;
	bottom: 0;
	right: 0;

	width: 567px;


	background: rgba(250,251,252,1);
	height: 70px;
	border-top: 1px solid #d7d8db;
}

.input_block form {
	display: flex;
}

.input_block input{
	display: block;
	margin: 14px auto;
   
	width: 80%;
	height: 30px;
	padding: 5px;

	outline: none;

	background: white;
	border: 1px solid #d7d8db;
	border-radius: 5px; 
}

.input_block button {
	background: #d7d8db;
	border: none;
	outline:;

	border-radius: 5px;

	margin: 5px;
}