.post {
	display: flex;
	background: white;
	border: 1px solid #d7d8db;
	border-radius: 5px;
	padding: 5px;
	position: relative;

	margin-bottom: 10px;
}

.block {
	display: block;
}


.name {
	font-weight: bold;
}


.ava {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 5px;
}

.like {
	position: absolute;
	bottom: 0;
	color: gray;
}


.delete {
	position: absolute;
	right: 10px;
	top: 10px;

	display: gray;
	width: 13px;
	height: 3px;
	cursor: pointer;
}



.delete:after {
	content: "";
	width: 100%;
	height: 3px;

	top: 2px;

	background-color: gray;
	position: absolute;
	transform: rotate(45deg);
}

.delete:before {
	content: "";
	width: 100%;
	height: 3px;

	top: 2px;

	background-color: gray;
	position: absolute;
	transform: rotate(-45deg);
}


.delete:hover:after {
	background: black;
}


.delete:hover:before {
	background: black;
}